<%- include('partials/header'); -%>
<body>
<div id="image2 " class="img" >
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
  <h1 class="display-4">Oops there's an error!!!!</h1><br>
  <hr class="my-4">
  <div class="container marketing">
    <h4><a href="/">Try again!</a>!</h4>
    <img src="https://media.giphy.com/media/3o6ZtaINnEGlSH75F6/giphy.gif" alt="Try Again!" >
  </div>
</div>
</div>

<%- include('partials/footer'); -%>
</body>
</html>