<%- include('partials/header'); -%>
<body>
<div id="image2 " class="img" >
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
  <h1 class="display-4">Successfully signed in!!</h1><br>
  <hr class="my-4">
  <div class="container marketing">
    <h4>Return to <a href="/">homepage</a>!</h4>
    <img src="https://www.animatedimages.org/data/media/1574/animated-success-image-0006.gif" alt="Success!" >
  </div>
</div>
</div>
<%- include('partials/footer'); -%>
</body>
</html>